.expandableRecipe {
  flex-basis: 100%;
  background: var(--bg-color);
  border-radius: 20px;
  padding: 1em 1.5em;
  margin-top: 0.5em;
  text-align: center;
}

.expandableRecipe_headline {
  font-weight: bold;
}
