.listItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid var(--bg-color) 1px;
  padding: 0.5em 0;
}

.listItem:last-child {
  border: none;
}

.listItem_img {
  height: 6em;
  width: 6em;
  object-fit: contain;
  border-radius: 15%;
}

.listItem_title {
  font-size: 2em;
  font-family: "Covered By Your Grace", cursive;
}

.listItem_button {
  border-style: none;
  border-radius: 20px;
  height: 3em;
  padding: 0 1em;
  background-color: var(--bg-color);
  transition: 0.3s;
  color: white;
  font-weight: bolder;
}

.listItem_button:hover {
  background-color: var(--bg-color-dark);
}
